//
//  Variables: devices
//  --------------------------------------------------

$device-ip6p-w:                 414px;
$device-ip6p-h:                 736px;

$device-ip6-w:                  375px;
$device-ip6-h:                  667px;

$device-ip5-w:                  320px;
$device-ip5-h:                  568px;

$device-ip4-w:                  320px;
$device-ip4-h:                  480px;

$device-mx356-w:                432px;
$deivce-mx356-h:                598px;

$device-hwt-honour6-w:          360px;
$device-hwt-honour6-h:          640px;
$device-hwt-honour6-mqq-h:      519px;

$device-hwt-c8817e-w:           360px;
$device-hwt-c8817e-h:           640px;