//
//  Base
//  --------------------------------------------------

* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  @include size(100%);

  @media (max-width: 480px) {
    font-size: #{$font-size-html * 0.6}PX;
  }

  @media (max-width: 384px) {
    font-size: #{$font-size-html * 0.5}PX;
  }

  @media (max-width: 320px) {
    font-size: #{$font-size-html * 0.4}PX;
  }
}

body {
  overflow:hidden;
  margin: 0;
  font-family: $font-family-base;
  background-color: #333;
  color: #fff;
}


@each $value in (left, center, right) {
  .text-#{$value} {
    text-align: $value !important;
  }
}

@each $name, $color in $ui-txt-themes {
  .ui-txt-#{$name + ''} {
    color: $color !important;
  }
}

.fullscreen-layout {
  width: 100% !important;
  height: 100% !important;
}
