//
//  Kirino Themes
//  --------------------------------------------------

$ui-txt-themes: (
  muted:                                     #ccc,
  highlight:                                 #ffb400,
);
