//
//  Elements - Loading Layout
//  --------------------------------------------------

.caa-loading-layout {
  background-color: #fff;
  @include size(100%);
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(100%);
  }
  &-content {
    @include size(100%);
    @include scroll-smooth();
  }
}
