.am-list-item .am-input-label{
    font-size: 17px;
    width: 100px;
}
.am-list-item{
    min-height: 20px;
}
.am-list-item.am-input-item{
    height: 45px;
    width: 75%;
}
.am-input-label am-input-label-5{
    width: 100px;
}
.am-list-item .am-input-control input {
    font-size: 18px;
    color: #999;
    padding: 12px;
}
.am-list-item .am-input-label.am-input-label-5 {
    width: 1.4rem;
}
.am-button-primary{  
     margin: 15px; 
    font-size: 18px;
    height: 45px;
    line-height: 45px;
}
.am-toast-notice-content .am-toast-text{
font-size: 18px;
}
.sideline{
    display: block;
    position: absolute;
    border: 0px;
    height: 3px;
    background-color: #fff;
    left: 6%;
    top: 47px;
}
.homebody{
    background-color: #000;
}
#fwhomefoot{
position: 'absolute';
margin-top: -30px;
}