//
//  Elements - News List
//  --------------------------------------------------
.yx-news{
    &-cell{
    text-align:"center";
     padding-left:'15px';
     padding-right:'15px';
     padding-top: '15px';
     background-color: 'white'; 
    }
    &-topic{
     background-color: #000;
     text-align: center;
     font-size: 18px;
     color: #fff;
     &-sm{
       text-align: center;
       font-size: 18px;
       color: #333;
       background-color: #000;
     }
    }
    &-category {
    font-size: 14px;
    color: $video-category-color;
  }
   &-createAt {
    font-size:14px;
    position: relative;
    left: 15px;
    color: $video-datetime-color;
  }
  &-col{
    color: #999;
    margin-left: 10px;
     font-size:14px;
  }
  &-summary{
    color: $video-summary-color;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp:2;
  }
   &-hua{
    height: 25px;
  }
}
.yx-simiao{
  &-title{
    color: white;
    margin-left: 20px;
    font-size: 14px;
    margin-right: 10px;
  }
  &-tag{
    height: 18px;
    border:1px solid sandybrown;
    color: $video-category-color;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    font-size:14px;
    border-radius: 5px;
  }
  &-views{
    color: $video-summary-color;
    margin-top: 8px;
    margin-left: 20px;
    font-size: 14px;
  }
}
.am-list-body{
    border-top:0px;
    background-color: #000
}
.am-list-header{
  padding:0px;
  font-size: 14px;
}
.am-list-body:after{
    border-bottom: 0px;
}
.xy-video-list-item {
  &:after {
    content: '';
    display: block;
    margin-top: $padding-lg;
    height: $video-sep-decor-height;
    background: url($video-sep-decor) 50% no-repeat;
    background-size: auto $video-sep-decor-height;
  }

  &-cover {
    position: relative;
    height: $video-cover-height;
    background: $gray-darkest none 50% no-repeat;
    background-size: cover;

    &-duration {
      position: absolute;
      z-index: 2;
      bottom: $padding-lg;
      left: $padding-lg;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $padding-sm $padding-lg $padding-sm;
      border: 1PX solid $white;
      font-size: $font-size-h2;
      font-weight: 300;

      .am-icon {
        margin-right: $padding-sm;
      }
    }
  }

  &-metadata {
    line-height: 2.25;
    font-size: $font-size-h3;
    font-weight: 300;
    color: $video-category-color;

    small {
      margin-left: $padding-lg;
      color: $video-datetime-color;
    }
  }

  &-title {
    margin: 0 0 $padding-md;
    @include ellipsis();
    font-size: $font-size-h1;
    font-weight: 300;
  }

  &-summary {
    p {
      margin: 0;
      font-size: $font-size-h3;
      font-weight: 300;
      line-height: 1.5;
      color: $video-summary-color;
    }
  }
}
.am-list-view-scrollview{
 background-color: '#000';
}
.am-list-view-scrollview-content{
  width: 100%;
}
.am-list-footer {
  padding: 0px;
  font-size: 1.1em;
}
//category
.topic{
  text-align: center;
  width: 100%;
  height: 39px;
}
.topic .text{
   font-size: 17px;
  line-height: 25px; 
}
.topic img{
    padding-top: 2px;
    width:70px;
}