.am-list-item{
  background-color: #fff; 
  padding-left:15px; 
  margin: 15px;
}
.am-textarea-control textarea{
    font-size: 16px;
    height: 180px;
  
}
.am-list-item am-textarea-item{
    padding: 0px;
}
.am-textarea-control{
  padding: 0px;
  height: 180px;
}
.am-textarea-count{
    font-size: 16px;
}
.am-modal-header{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}
.am-modal-title{
    font-size: 20px;
    width: 100%;
    line-height: 20px;
    color: #000;
    text-align: center;
}.am-modal-button{
    font-weight: bold;
}
.am-modal.am-modal-transparent .am-modal-content .am-modal-body.am-modal-body{
    font-size: 18px;
    padding-bottom: 20px;
    height: 20px;
}
.am-modal.am-modal-transparent .am-modal-content{
    padding-top: 15px;
    font-size: 20px;
    border-radius:14px;
}
.am-modal-button-group-h .am-modal-button{
    height:50px;
    line-height: 50px;
    font-size: 18px;
}
.am-modal-button-group-h{
    border-top: 1px solid #ddd;
    display: flex;
    height: 50px;
}
.am-modal-footer{
     height: 50px;
}
.lt_alert{
     @include size(100%);
     position: fixed;
     z-index: 999;
     background-color:rgba(0,0,0,0.6);
}
.lt_alert_content{
    position: absolute;
    background-color: white;
    top: 30%;
    left: 15%;
    border-radius: 15px;
    width: 70%;
    height: 25%;
    // text-align: center;
}
.lt_alert_title{
    height: 20px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    margin-top: 15px;
}
.lt_alert_info{
    height: 18px;
    width: 100%;
    color: #666;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    margin-top: 18px;
}
.lt_alert_foot{
    margin-top: 20px;
    display: flex;
    border-top:#ddd 1px solid;
    height: 50px;
    width: 100%;
}
.lt_alert_foot .lt_alert_foot_bottom:first-child{
    color: #000;
    border-right: 1PX solid #ddd;
}
.lt_alert_foot_bottom
{
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #108ee9;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}