.yx-detail{
    &-title{
       font-size: 16px;
    }
    &-summary{
       color: #666; 
       width: 100%;
       word-wrap: break-word;
       height: auto;
       p img{
        max-width: 100%;
        height: auto!important;
       }
    }
    &-author{
        // float:right;
        color: #aaa; 
        font-size: 14px;
    }
    &-views{
        margin-left: 5px;
        font-size: 14px;
        color: $video-summary-color;
    }
}